body{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.bg{
	width: 100%;
	background-image: url(../imgs/bg.png);
	background-repeat: no-repeat;
}
.phone{
	width: 383px;
	height: 707px;
	background-image: url(../imgs/bg1.png);
	position: relative;
}
.box{
	position: absolute;
	top: 69px;
	left: 58px;
}
.navLi{
	margin-bottom: 10px;
} 
.list{
	display: none;
}
.list2{
	display: block;
}
.btn{
	width: 257px;
	height: 43px;
	line-height: 43px;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.6);
	font-size: 12px;
}
.btn2{
	background-color:rgba(170,70,90,0.8);
}
.i1{
	display: inline-block;
	border: 5px solid transparent;
	border-left: 5px solid #ffffff;
	margin: 0 15px 0 9px;
}
.i2{
	border-left: 5px solid transparent;
	border-top: 5px solid #ffffff;
}
.listli{
	width: 257px;
	height: 43px;
	line-height: 43px;
	color: #FFFFFF;
	background-color: rgb(0,0,0);
	font-size: 12px;
	text-indent: 32px;
}
.listli:hover{
	background-color: #5b5b5b;
}
.listli2{
	width: 257px;
	height: 43px;
	line-height: 43px;
	color: #FFFFFF;
	background-color: rgb(0,0,0);
	font-size: 12px;
	text-indent: 32px;
	background-color:#7b2c3a;
}
