body{
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
.bg{
	width: 769px;
	height: 644px;
	background-color: #c5e8ef;
	position: relative;
}
.box{
	width: 556px;
	height: 318px;
	position: absolute;
	top: 102px;
	left: 107px;
	border-radius: 7px;
	background: #ffffff;
}
.content{
	width: 349px;
	height: 262px;
	border: 1px solid #acdfe9;
	position: absolute;
	top: 27px;
	left: 27px;
	background-color: #ebf8f9;
	line-height: 29px;
	font-size: 14px;
	padding: 0 19px;
}
.unfold{
	width: 62px;
	height: 63px;
	position: absolute;
	padding-left: 34px;
	padding-top: 14px;
	top: 27px;
	left: 438px;
	background: #83dff1;
	transition: 0.4s;
}
.unfold1{
	z-index: 2;
}

.unfold2{
	top: 120px;
	background: #9e9bf6;
}
.unfold3{
	top: 214px;
	background: #93e69d;
}
.unfold i{
	display: block;
	width: 26px;
	height: 26px;
	background-image: url(../imgs/1.png);
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.box div:nth-of-type(3) i{
	background-image: url(../imgs/2.png);
}
.box div:nth-of-type(4) i{
	background-image: url(../imgs/3.png);
}
.unfold span{
	display: block;
	color: #ffffff;
}
.unfold11 i{
	background-image: url(../imgs/4.png);
}
.pupup{
	width: 556px;
	height: 153px;
	border-radius: 7px;
	position: absolute;
	top: 464px;
	left: 107px;
	background: #FFFFFF;
	display: none;
}
.pupup1{
	display: block;
}
.pupup input{
	position: absolute;
}
.pupup input:nth-of-type(1){
	background-color: #9e9bf6;
	left: 25px;
}
.pupup input:nth-of-type(2){
	background-color: #93e69d;
	left: 142px;
}
.btn{
	width: 98px;
	height: 40px;
	color: #ffffff;
	border: none;
	top: 23px;
}
.pupup input:nth-of-type(3){
	left: 25px;
}
.pupup input:nth-of-type(4){
	left: 229px;
}
.text{
	width: 192px;
	height: 46px;
	background-color: #ebf8f9;
	border: 1px solid #aadfea;
	font-size: 15px;
	top: 76px;
}
.text1{
	width: 400px;
}
.text2{
	display: none;
}
.pupup i{
	display: block;
	width: 14px;
	height: 14px;
	background: url(../imgs/5.png);
	position: absolute;
	left: 517px;
	top: 23px;
}
.pupup input:nth-of-type(5){
	width: 94px;
	height: 48px;
	background-color: #9e9bf6;
	background-image: url(../imgs/2.png);
	background-position: 35px 11px;
	background-repeat: no-repeat;
	border: none;
	left: 442px;
	top: 76px;
}
.color{
	background: #5A94EF;
}
.color2{
	background: #93E69D;
}